<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
        <ion-title slot="start">
            Credito QR
        </ion-title>
        <ion-avatar slot="end" class="avatar">
            <img src="../../assets/pruebaTP4.PNG">
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="inicio">
        <img class="icon" src="../../../assets/podio.png" alt=" ">
    </div>
    <ion-list>
        <ion-list-header color="tertiary">
            Puntajes
        </ion-list-header>

        <ion-item *ngFor="let puntaje of puntajes; index as i">
            <ion-label>{{puntaje.usuario}}</ion-label>
            <ion-badge slot="end" color="success">{{puntaje.puntos}}</ion-badge>
        </ion-item>
    </ion-list>
</ion-content>